@import "./variables";

.Container {
  @include HW(100%, 100%);
  overflow: hidden;
}

.list {
  padding-left: 30px;
  list-style-type: square;
}

li {
  padding-bottom: 10px;
}

.hover {
  transition: all 0.5s;
  width: 100%;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.rowC {
  @include row();
}

.footer {
  @include row();
}

.title {
  font-size: 22px;
  font-weight: 600;
}
.status {
  font-size: 17px;
}
.body {
  font-size: 15px;
}

.info {
  padding-top: 10px;
  font-size: 15px;
}

.Description {
  align-items: center;
  font-size: 15px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .rowC {
    display: flex;
    flex-direction: column;
  }
  .hover {
    &:hover {
      transition: all 0s;
      background-color: $cardBack;
    }
  }
  .title {
    font-size: 22px;
  }
  .status {
    font-size: 15px;
  }
  .body {
    font-size: 15px;
    padding-left: 0%;
  }
  .info {
    top: 0;
    padding-left: 0px;
    font-size: 15px;
  }
}
