
.footer {
    display: grid;
    grid-area: "foot";
    /* background-image: url('.././../imgs/blue-snow.png'); */
    background-color:#e6f2ff;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 20px;
}

.cont{

    padding: 40px;
}

.icon{
    height: 45px;
    width: 45px;
    opacity: 0.7;
}

.icon:hover{
    -webkit-transform: rotate(360deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;;
    transform: rotate(360deg);
    transition: 0.25s ease-in-out;
}



@media screen and (max-width: 900px){
    .icon{
        height: 35px;
        width: 35px;
    }

    .cont{
        padding: 20px;
    }
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}