@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster|Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
.footer {
  display: -ms-grid;
  display: grid;
  grid-area: "foot";
  text-align: center;
  color: white;
  width: 100%;
  font-size: 20px;
}

.cont {
  padding: 40px;
}

.icon {
  height: 45px;
  width: 45px;
  opacity: 0.7;
}

.icon:hover {
  -webkit-transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transform: rotate(360deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

@media screen and (max-width: 900px) {
  .icon {
    height: 35px;
    width: 35px;
  }
  .cont {
    padding: 20px;
  }
}

@media screen and (max-width: 500px) {
  .icon {
    height: 25px;
    width: 25px;
  }
  .cont {
    padding: 20px;
  }
}

.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.list {
  padding-left: 30px;
  list-style-type: square;
}

li {
  padding-bottom: 10px;
}

.hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
}

.hover:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.1);
}

.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rowC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.title {
  font-size: 22px;
  font-weight: 600;
}

.status {
  font-size: 17px;
}

.body {
  font-size: 15px;
  padding-left: 10%;
}

.info {
  padding-top: 3%;
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  .rowC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hover:hover {
    -webkit-transition: all 0s;
    transition: all 0s;
    background-color: #fdf8f3;
  }
  .title {
    font-size: 22px;
  }
  .status {
    font-size: 15px;
  }
  .body {
    font-size: 15px;
    padding-left: 0%;
  }
  .info {
    top: 0;
    padding-left: 0px;
    font-size: 15px;
  }
}

.Description {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  width: 100%;
}

.fade-in {
  padding: 5%;
  padding-bottom: 0%;
  padding-top: 0%;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.fade-out {
  padding: 5%;
  padding-bottom: 0%;
  padding-top: 0%;
  opacity: 0;
  max-height: 0;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

@media screen and (max-width: 900px) {
  .fade-out {
    -webkit-transition: all 0s;
    transition: all 0s;
    opacity: 1;
    max-height: 100%;
  }
  .fade-in {
    opacity: 1;
    -webkit-transition: all 0s ease-in;
    transition: all 0s ease-in;
  }
}

.error_img {
  background-image: url("../../imgs/sad.png");
  height: 512px;
  width: 512px;
  opacity: 0.5;
  margin-top: 10%;
  background-size: 100% 100%;
}

@media screen and (max-width: 900px) {
  .error_img {
    height: 312px;
    width: 312px;
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 400px) {
  .error_img {
    height: 112px;
    width: 112px;
  }
}

.blog_header {
  width: 100%;
  height: 350px;
  text-align: center;
}

.return {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.return:hover {
  height: 70px;
  width: 70px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.blog_title {
  font-size: 50px;
  font-family: "Cutive Mono", monospace;
  position: relative;
  top: 150px;
}

.blog_subtitle {
  font-size: 30px;
  font-family: "Cutive Mono", monospace;
  position: relative;
  top: 150px;
}

.blog_body {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  margin-bottom: 60px;
}

.blog_body li {
  list-style: none;
}

.blog_card {
  background-color: #fdf8f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 80%;
  padding-bottom: 50px;
}

.code {
  border-radius: 5px;
  background-color: white;
}

.tab {
  margin-left: 30px;
}

@media screen and (max-width: 900px) {
  .blog_header {
    height: 270px;
  }
}

@media screen and (max-width: 500px) {
  .blog_header {
    height: 250px;
  }
  .blog_title {
    font-size: 40px;
    top: 100px;
  }
  .blog_subtitle {
    font-size: 325x;
    top: 100px;
  }
}

.Background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Pane {
  width: 100%;
  height: 400px;
  text-align: center;
}

.Card_main {
  background-color: #fdf8f3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 80%;
  padding-bottom: 50px;
}

.Intro_Card {
  font-family: "Lato", sans-serif;
  background-color: #fef6f6;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  width: 50%;
  padding: 20px;
}

.Card {
  position: relative;
  height: 250px;
  width: 250px;
  margin-right: 100px;
}

.Card2 {
  background-color: #fae3cd;
}

.Card3 {
  background-color: #d9822b;
}

#first,
#second,
#third {
  font-size: 200px;
  top: 80px;
  position: absolute;
  left: 100%;
  font-family: "Lobster", cursive;
}

#greeting {
  font-size: 30px;
  top: 70px;
  position: absolute;
  left: 10%;
  font-family: "Passion One", cursive;
}

#sent {
  font-size: 30px;
  top: 300px;
  position: relative;
  left: 0px;
  font-family: "Passion One", cursive;
}

#f,
#t {
  font-size: 30px;
  top: 40%;
  position: absolute;
  left: 10%;
  height: 100%;
  width: 100%;
  font-family: "Lobster", cursive;
  color: black;
}

#s {
  font-size: 90px;
  top: 40%;
  position: relative;
  left: 0px;
  font-family: "Lobster", cursive;
  color: black;
}

#first {
  left: 80px;
  color: #234361;
}

#second {
  left: 100px;
  color: #425a70;
}

#third {
  left: 120px;
  color: white;
}

@media screen and (min-width: 1500px) {
  #first,
  #second,
  #third {
    padding-left: 10%;
  }
  #first {
    left: 100px;
  }
  #second {
    left: 120px;
  }
  #third {
    left: 130px;
  }
}

@media screen and (max-width: 900px) {
  .Pane {
    height: 300px;
  }
  #first,
  #second,
  #third {
    font-size: 140px;
    top: 80px;
    position: absolute;
    left: 100%;
  }
  #first {
    left: 70px;
  }
  #second {
    left: 80px;
  }
  #third {
    left: 90px;
  }
  #greeting,
  #sent {
    font-size: 20px;
  }
  #sent {
    top: 80%;
  }
  .Nav {
    height: 50px;
  }
  .Card {
    height: 200px;
    width: 200px;
    margin-right: 0;
  }
  #f {
    font-size: 25px;
  }
  .Card_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Intro_Card {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    background-color: #fef6f6;
    text-align: center;
    width: 90%;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  #first,
  #second,
  #third {
    font-size: 100px;
    top: 90px;
    position: absolute;
    left: 100%;
  }
  #first {
    left: 40px;
  }
  #second {
    left: 50px;
  }
  #third {
    left: 60px;
  }
  .Card {
    height: 180px;
    width: 180px;
    margin-right: 0;
  }
}
/*# sourceMappingURL=styles.css.map */