@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster|Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

@import "./variables";
@import "./footer";
@import "./display";
@import "./_ohno";
@import "./blog";

@mixin flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

@mixin titleStyle($size, $top, $pos, $left) {
  font-size: $size;
  top: $top;
  position: $pos;
  left: $left;
}

@mixin leftCol($left, $col) {
  left: $left;
  color: $col;
}

html {
  scroll-behavior: smooth;
}

.Background {
  @include flexCenter();
  width: 100%;
}

.Pane {
  width: 100%;
  height: 400px;
  text-align: center;
}

.Card_main {
  background-color: $cardBack;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  @include HW(100%, 80%);
  padding-bottom: 50px;
}

.Intro_Card {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: $introBack;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  width: 50%;
  padding: 20px;
}

.Card {
  position: relative;
  @include HW(225px, 225px);
  margin-right: 100px;
}

.Card2 {
  background-color: $title1;
}

.Card3 {
  background-color: $title2;
}

.row {
  flex-direction: row;
  margin: 5px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
}

#first,
#second,
#third {
  @include titleStyle(150px, 80px, absolute, 0%);
  font-family: "Lobster", cursive;
}

#greeting {
  @include titleStyle(30px, 70px, absolute, 10%);
  font-family: "Passion One", cursive;
}
#sent {
  @include titleStyle(30px, 250px, relative, 0px);
  font-family: "Passion One", cursive;
}

#f,
#t {
  @include titleStyle(30px, 40%, absolute, 10%);
  font-family: "Lobster", cursive;
  color: black;
}

#s {
  @include titleStyle(90px, 40%, relative, 0px);
  font-family: "Lobster", cursive;
  color: black;
}

#first {
  @include leftCol(20px, $darkG);
}
#second {
  @include leftCol(30px, $medG);
}
#third {
  @include leftCol(40px, white);
}

@media screen and (min-width: 1500px) {
  #first,
  #second,
  #third {
    padding-left: 0%;
  }
  #first {
    left: 100px;
  }
  #second {
    left: 110px;
  }
  #third {
    left: 120px;
  }
}

@media screen and (max-width: 900px) {
  .Pane {
    height: 300px;
  }
  #first,
  #second,
  #third {
    @include titleStyle(90px, 80px, absolute, 0%);
  }
  #first {
    left: 30px;
  }
  #second {
    left: 35px;
  }
  #third {
    left: 40px;
  }
  #greeting,
  #sent {
    font-size: 20px;
  }
  #sent {
    top: 70%;
  }
  .Nav {
    height: 50px;
  }
  .Card {
    @include HW(200px, 200px);
    margin-right: 0;
  }
  #f {
    font-size: 25px;
  }
  .Card_main {
    display: flex;
    flex-direction: column;
  }
  .Intro_Card {
    font-family: "Lato", sans-serif;
    background-color: #fef6f6;
    text-align: center;
    width: 90%;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  #first,
  #second,
  #third {
    @include titleStyle(50px, 90px, absolute, 100%);
  }
  #first {
    left: 19%;
  }
  #second {
    left: 20%;
  }
  #third {
    left: 21%;
  }
  #sent {
    top: 60%;
  }
  .Card {
    @include HW(180px, 180px);
    margin-right: 0;
  }
}
