@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster|Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
.footer {
  display: -ms-grid;
  display: grid;
  grid-area: "foot";
  text-align: center;
  color: white;
  width: 100%;
  font-size: 20px;
}

.cont {
  padding: 40px;
}

.hoverIcon {
  height: 45px;
  width: 45px;
  opacity: 0.5;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hoverIcon:hover {
  opacity: 1;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.icon {
  height: 45px;
  width: 45px;
  opacity: 0.7;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.icon:hover {
  -webkit-transform: rotate(359deg);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transform: rotate(359deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .icon {
    height: 35px;
    width: 35px;
  }
  .cont {
    padding: 20px;
  }
}

@media screen and (max-width: 500px) {
  .icon {
    height: 25px;
    width: 25px;
  }
  .cont {
    padding: 20px;
  }
}

.Container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.list {
  padding-left: 30px;
}

.hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
}

.center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.rowC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-right: 1rem;
}

.status{
  white-space: nowrap;
}

.body {
  font-size: 15px;
}

.info {
  padding-top: 10px;
  font-size: 15px;
}

.Description {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .rowC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hover:hover {
    -webkit-transition: all 0s;
    transition: all 0s;
    background-color: #fdf8f3;
  }
  .title {
    font-size: 22px;
  }
  .body {
    font-size: 15px;
    padding-left: 0%;
  }
  .info {
    top: 0;
    padding-left: 0px;
    font-size: 15px;
  }
}

.blog_header {
  width: 100%;
  height: 350px;
  text-align: center;
}

.slider {
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px;
}

.slick-prev:before {
  color: #425a70 !important;
}

.slick-next:before {
  color: #425a70 !important;
}

.return {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 20px;
  left: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.return:hover {
  height: 60px;
  width: 60px;
  top: 15px;
  left: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.blog_title {
  font-size: 50px;
  font-family: "Cutive Mono", monospace;
  position: relative;
}

.blog_subtitle {
  font-size: 30px;
  font-family: "Cutive Mono", monospace;
  position: relative;
}

.blog_body {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  margin-bottom: 60px;
}

.blog_card {
  background-color: #fdf8f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 80%;
  padding-bottom: 50px;
}

.code {
  border-radius: 5px;
  background-color: white;
}

.tab {
  margin-left: 30px;
}

@media screen and (max-width: 900px) {
  .blog_header {
    height: 270px;
  }
  .blog_title {
    font-size: 45px;
    top: 90px;
  }
  .blog_subtitle {
    font-size: 35px;
    top: 90px;
  }
}

@media screen and (max-width: 600px) {
  .blog_header {
    height: 250px;
  }
  .blog_title {
    font-size: 40px;
    top: 100px;
  }
  .blog_subtitle {
    font-size: 20px;
    top: 100px;
  }
  .return {
    height: 30px;
    width: 30px;
  }
  .return:hover {
    height: 35px;
    width: 35px;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.Background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.Pane {
  width: 100%;
  height: 400px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Card_main {
  background-color: #fdf8f3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  width: 80%;
  padding-bottom: 50px;
}

.Intro_Card {
  background-color: #fef6f6;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  width: 50%;
  padding: 20px;
}

.Card {
  position: relative;
  height: 225px;
  width: 225px;
}

.Card2 {
  background-color: #fae3cd;
}

.Card3 {
  background-color: #d9822b;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}

#first,
#second,
#third {
  white-space: nowrap;
  font-size: 180px;
  position: absolute;
  font-family: "Lobster", serif;
  text-align: center;
  width: 100%;
}

#f,
#t,
#s {
  font-style: italic;
  font-weight: 600;
  opacity: 0.8;
  color: black;
}

#f,
#t {
  font-size: 30px;
  top: 45%;
  position: absolute;
  left: 10%;
}

#first {
  color: #234361;
}

#second {
  color: #425a70;
  padding-left: 4px;
}

#third {
  color: white;
  padding-left: 8px;
}

#greeting {
  font-size: 50px;
  top: 60px;
  position: absolute;
  left: 10%;
  color: #425a70;
  font-family: "Lobster", serif;
}

#sent {
  position: relative;
  top: 35%;
}

@media screen and (max-width: 1000px) {
  .Pane {
    height: 300px;
  }
  #first,
  #second,
  #third {
    font-size: 120px;
  }
  #greeting,
  #sent {
    font-size: 20px;
  }
  #f {
    font-size: 25px;
  }
  .Card_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .Intro_Card {
    font-family: "Lato", sans-serif;
    background-color: #fef6f6;
    text-align: center;
    width: 90%;
    padding: 10px;
  }
  .Nav {
    height: 50px;
  }
  .Card {
    height: 200px;
    width: 200px;
    margin-right: 0;
  }
}

@media screen and (max-width: 800px) {
  #first,
  #second,
  #third {
    margin-top: 5%;
    font-size: 90px;
  }
  .Card {
    height: 180px;
    width: 180px;
    margin-right: 0;
  }
  #second {
    padding-left: 2px;
  }
  #third {
    padding-left: 4px;
  }
}

@media screen and (max-width: 600px) {
  #first,
  #second,
  #third {
    margin-top: 5%;
    font-size: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */
